/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

@font-family-sans-serif: "Poppins", sans-serif;
@font-family-titles: "Cormorant Infant", serif;
@font-family-btn: "Montserrat", sans-serif;
@font-family-secondary: "Montserrat", sans-serif;

@font-size-base: 16px;
@line-height-base: 1.6;

@shell-max-width: 1133px;
@shell-gutter: 20px;

@responsive-xxs: 374px;
@responsive-xs: 767px;
@responsive-pi: 991px;
@responsive-sm: 1024px;
@responsive-md: 1199px;
@responsive-lg: 1439px;

@mobile-small: ~"(max-width: @{responsive-xxs}) ";
@mobile: ~"(max-width: @{responsive-xs}) ";
@tablet-landscape: ~"(max-width: @{responsive-pi})";
@tablet-portrait: ~"(max-width: @{responsive-sm}) ";
@small-desktop: ~"(max-width: @{responsive-md}) ";
@large-desktop: ~"(max-width: @{responsive-lg}) ";
@retina: ~"(min-resolution: 2dppx) ";

@body-copy: #000;
@color-white: #fff;
@color-black: #000;

@color-dirty-blue: #46818c;
@color-grey-blue: #5f9792;
@color-deep-aqua: #066c84;
@color-dark-blue-grey: #27474d;
@color-sandstone: #707070;

@color-frog-green: #a1c69f;
@color-tealish-blue: #5371ff;
@color-black-cow: #3d503a;
@color-spring-rain: #A1C69F;

@path: "../images/temp/";

.transition-properties(...) {
  @props: ~` "@{arguments}" .replace(/[\[\]]/g, "") `;
  -webkit-transition: @props;
  -moz-transition: @props;
  -o-transition: @props;
  transition: @props;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

.transition (@value) {
  -webkit-transition: @value;
  -moz-transition: @value;
  -o-transition: @value;
  -ms-transition: @value;
  transition: @value;
}

/* ------------------------------------------------------------ *\
	Imports
\* ------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: none;
}

/* ------------------------------------------------------------ *\
	Classes to integrate flexbox with Bootstrap 3
\* ------------------------------------------------------------ */

/* Place this class on the .row div */
.bootstrap-flex-row {
  display: flex;
  flex-wrap: wrap;
  /* keeps bootstrap defined sizing on the child elements */
  justify-content: center;
  /* center odd number of bootstrap items without using push or pull. */

  /* This fixes a bug in Safari */

  &:before,
  &:after {
    display: none;
  }
}

/*Place this on the bootstrap element with the column class. (Ex: col-sm-6)*/
.bootstrap-flex-col {
  display: flex;
  /*makes all bootstrap column elements the same height*/
  flex-direction: column;
}

/*Wrap the content that will be inside .bootstrap-flex-col with a div and add the .bootstrap-flex-content class*/
.bootstrap-flex-content {
  flex: 1;
  display: flex;
  /*makes the content the same height as .bootstrap-flex-col*/
  flex-direction: column;
}

/*Sometimes we add something that needs to be on the bottom of the .bootstrap-flex-content element. Ex: A button. Create a div to house this content and add the .bootstrap-flex-bottom class.*/
.bootstrap-flex-bottom {
  margin-top: auto;
}

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

#theme-custom-banner,
#theme-bottom-banner {
  font-size: @font-family-titles;
  line-height: @line-height-base;
  font-family: @font-family-sans-serif;
  overflow: hidden;

  .theme-text {
    font-family: @font-family-sans-serif;
    font-size: @font-size-base;
    line-height: @line-height-base;
    font-weight: 300;
    color: @color-black;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }

    &[href^="tel"] {
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
  }

  .h1,
  h1,
  .h2,
  h2,
  .h3,
  h3,
  .h4,
  h4,
  .h5,
  h5,
  .h6,
  h6 {
    font-family: @font-family-titles;
    line-height: 1.22;
    font-weight: 700;
  }

  .h1,
  h1 {
    font-size: 45px;
    line-height: 1.2;
  }

  .h2,
  h2 {
    font-size: 45px;
    line-height: 1.2;
  }

  .h3,
  h3 {
    font-size: 30px;
  }

  .h4,
  h4 {
    font-size: 25px;
  }

  .h5,
  h5 {
    font-size: 20px;
  }

  .h6,
  h6 {
    font-size: 18px;
  }

  @media @tablet-portrait {

    .h1,
    h1 {
      font-size: 35px;
    }

    .h2,
    h2 {
      font-size: 35px;
    }

    .h3,
    h3 {
      font-size: 26px;
    }

    .h4,
    h4 {
      font-size: 20px;
    }

    .h5,
    h5 {
      font-size: 18px;
    }

    .h6,
    h6 {
      font-size: 18px;
    }
  }

  @media @mobile {

    .h1,
    h1 {
      font-size: 30px;
    }

    .h2,
    h2 {
      font-size: 30px;
    }

    .h3,
    h3 {
      font-size: 20px;
    }

    .h4,
    h4 {
      font-size: 20px;
    }

    .h5,
    h5 {
      font-size: 18px;
    }

    .h6,
    h6 {
      font-size: 18px;
    }
  }

  p,
  ul,
  ol,
  dl,
  hr,
  table,
  blockquote {
    margin: 0;
    padding: 0;
    margin-bottom: 1.2em;
  }

  .theme-btn {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-family: @font-family-btn;
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    color: @color-black-cow;
    letter-spacing: 2.2px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    padding: 20px 75px 21px 75px;
    background: @color-white;
    border-radius: 43px;
    @media @tablet-portrait {
        padding: 12px 40px 12px 40px;
        letter-spacing: 1.2px;
        width: 100%;
        justify-content: center;
    }
    @media @mobile {
      padding: 8px 22px 8px 22px;
    }

    &:hover {
      background: @color-tealish-blue;
      color: @color-white;
      transition: all 0.3 ease-in-out;
    }

    span {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: @color-grey-blue;
      border-radius: 100%;
      margin-left: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      @media @mobile {
        width: 38px;
        height: 38px;
        svg {
          width: 10px;
          height: 15px;
        }
      }
    }

    @media @mobile {
      font-size: 18px;
    }

    &:hover {
      span {
        background-color: @color-dark-blue-grey;
      }
    }
  }
  .theme-link {
    text-decoration: none;
    display: inline-flex;
    font-family: @font-family-btn;
    text-decoration: none;
    text-transform: capitalize;
  }
}

/* ------------------------------------------------------------ *\
	Theme Container
\* ------------------------------------------------------------ */
.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
}
/* ------------------------------------------------------------ *\
	Theme Baners
\* ------------------------------------------------------------ */

#theme-custom-banner {

  .section-title {
    .theme-heading {
      font-weight: 700;
      color: @color-black;
      padding-bottom: 30px;
      margin: 0;
      @media @tablet-portrait {
        padding-bottom: 20px;
      }
    }
    .theme-title {
      font-weight: 300;
      font-family: @font-family-sans-serif;
      color: @color-black;
    }
  }

  .hero {
    width: 100%;

    .hero__content {
      position: relative;
      height: 792px;

      @media @mobile {
        height: 400px;
      }

      .hero_media {
        height: 100%;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .section-welcome {
    padding: 90px 0 18px;

    @media @tablet-portrait {
      padding: 50px 0 10px;
    }

    @media @mobile {
      padding-top: 25px;
    }

    .welcome-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 170px;

      @media @tablet-portrait {
        padding-bottom: 40px;
        flex-direction: column;
      }

      @media @mobile {
        padding-bottom: 20px;
      }

      .welcome-left {
        width: 50%;

        @media @tablet-portrait {
          width: 100%;
          padding-bottom: 30px;
        }

        .theme-text {
          max-width: 468px;

          @media @tablet-portrait {
            max-width: none;
          }
        }

        .theme-link a span {
          padding-left: 16px;
        }
      }

      .welcome-right {
        width: 50%;

        @media @tablet-portrait {
          width: 100%;
          text-align: center;
        }
      }

      &.reverse {
        flex-direction: row-reverse;

        .welcome-left {
          padding-left: 100px;

          @media @tablet-portrait {
            padding-left: 0;
          }
        }
      }
    }
  }

  .section-our-service {
    background-image: url("@{path}/our-services-bg-img.jpg");
    padding: 86px 0 112px 0;
    color: @color-white;
    background-repeat: no-repeat;
    @media @tablet-portrait {
      padding: 50px;
    }
    @media @mobile {
      padding: 40px 30px;
    }
    .our-service-box {
      padding: 96px 103px 134px 134px;
      max-width: 720px;
      margin-left: auto;
      background: rgba(161, 198, 159, 0.9);
      border-radius: 120px 0 120px 0;
      .theme-heading {
        color: @color-white;
      }
      .theme-text {
        color: @color-white;
      }
      .service-list {
        list-style: none;
        font-style: @font-family-sans-serif;
        font-weight: 700;
        li {
          padding-bottom: 12px;
        }
      }
    @media @tablet-portrait{
      margin: 0 auto;
      border-radius: 60px;
      padding: 60px;
    }
    @media @mobile{
      padding: 40px 30px;
      border-radius: 30px;
    }
    }
  }

  .section-our-promise {
    padding: 127px 0;

    @media @tablet-portrait {
      padding: 40px 0;
    }

    .our-promise-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .our-promise-left {
        width: 50%;

        @media @tablet-portrait {
          width: 100%;
          padding-bottom: 20px;
        }

        @media @mobile {
          padding-bottom: 12px;
        }

        .theme-heading {
          max-width: 435px;

          @media @tablet-portrait {
            max-width: none;
          }
        }

        .theme-text {
          max-width: 466px;

          @media @tablet-portrait {
            max-width: none;
          }
        }
      }
      .our-promise-right {
        width: 50%;

        @media @tablet-portrait {
          width: 100%;
        }
      }
    }
  }

  .section-our-testimonials {
    padding: 30px 0 57px 0;
    @media @tablet-landscape {
      padding: 16px 0 26px;
    }
    @media @mobile {
      padding: 8px 0 50px;
    }
    .section-title {
      text-align: center;
    }
    .card-listing {
      padding: 26px 0 52px 0;

      @media @tablet-landscape {
        padding: 14px 0 26px 0;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -8px;

        li {
          width: 33.33%;
          padding: 0 8px;
          margin-bottom: 10px;

          @media @tablet-landscape {
            width: 50%;
          }

          @media @mobile {
            width: 100%;
          }

          .card-box {
            height: 100%;
            text-align: center;
            text-decoration: none;
            padding: 35px 50px 25px 51px;
            background-color: @color-black;
            display: flex;
            align-items: center;

            @media @tablet-landscape {
              padding: 30px 30px 20px 30px;
            }

            .theme-text {
              color: @color-white;
            }
          }
        }
      }
    }
    .btn-wrap {
      text-align: center;
      .theme-btn {
        padding: 20px 64px 21px 64px;
        border: 1px solid @color-sandstone;
        @media @tablet-portrait{
          padding: 10px 40px 10px 40px;;
        }
        @media @mobile{
          padding: 6px 22px 6px 22px;
        }
      }
    }
  }

  .section-our-financials {
    background-image: url("@{path}/financilas-bg-img.jpg");
    background-repeat: no-repeat;
    width: 100%;
    padding: 99px 0 93px 0;
    @media @tablet-portrait{
      padding: 50px;
    }
    @media @mobile{
      padding: 25px;
    }
    .our-finacials-box {
      padding: 102px 90px 81px 147px;
      background: rgba(161, 198, 159, .9);
      max-width: 720px;
      border-radius: 120px 0 120px 0;
      .theme-heading {
        color: @color-white;
      }
      .theme-text {
        color: @color-white;
      }
      .btn-wrap {
        padding-top: 18px;
      }
      @media @tablet-portrait {
        margin: 0 auto;
        border-radius: 50px;
        padding: 50px;
      }
      @media @mobile{
        border-radius: 25px;
        padding: 40px 30px;   
      }
    }
  }

  .section-dental-differnce {
    padding: 85px 0 45px 0;

    @media @tablet-landscape {
      padding: 45px 0 25px 0;
    }

    @media @mobile {
      padding: 25px 0 15px 0;
    }
    .theme-heading {
      padding-bottom: 0;
    }
    .theme-text-list {
      padding-bottom: 25px;
      .theme-text {
        margin-bottom: 0;
      }
    }
  }

  .section-appointment {
    background: @color-spring-rain;
    padding: 35px 55px;

    .container {
      text-align: center;

      .section-title {
        .theme-heading {
          color: @color-white;
        }

        .theme-title {
          color: @color-white
        }
      }
    }

  }

  .section-meet-our-team {
    padding: 154px 0 185px;
    position: relative;
    background: url("@{path}/mountain.png") right -20px bottom -20px / auto no-repeat;
    @media @tablet-landscape {
      padding: 50px 0;
      background-position: center bottom -50px;
    }
    .meet-our-team-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media @tablet-landscape {
        flex-direction: column;
      }
      .meet-our-team-left {
        width: 367px;
        @media @tablet-landscape {
          width: 100%;
          text-align: center;
        }
      }
      .meet-our-team-right {
        width: ~"calc(100% - 367px)";
        padding-left: 113px;
        @media @tablet-portrait {
          padding-left: 50px;
        }
        @media @tablet-landscape {
          width: 100%;
          padding-left: 0;
          padding-top: 40px;
        }
        .theme-btn {
          margin-top: 30px;
          color: @color-dirty-blue;
          @media @tablet-landscape {
            margin-top: 0;
          }
        }
      }
    }
  }

  .section-card {
    text-align: center;
    padding: 74px 0 70px;
    background-color: @color-dirty-blue;

    @media @mobile {
      padding: 40px 0;
    }

    .card-listing {
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -8px;

        @media @mobile {
          justify-content: center;
        }

        li {
          width: 33.33%;
          padding: 0 8px;
          margin-bottom: 10px;

          @media @tablet-landscape {
            width: 50%;
          }

          @media @mobile {
            width: 100%;
          }

          a {
            text-decoration: none;

            .card-box {
              height: 100%;
              text-align: center;
              text-decoration: none;
              padding: 61px 40px 27px;
              background-color: @color-white;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;

              @media @mobile {
                padding: 40px 20px;
              }

              .card-desc {
                width: 100%;
                text-align: center;

                .theme-title {
                  letter-spacing: 2.2px;
                  color: @color-deep-aqua;
                  margin: 0;
                  transition: all 0.3s ease-in-out;
                  text-transform: uppercase;
                  max-width: 200px;
                  margin: 0 auto;
                  height: 53px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  @media @mobile {
                    height: auto;
                  }
                }

                .theme-text {
                  padding: 31px 0 27px;
                  transition: all 0.3s ease-in-out;
                  margin-bottom: 0;
                  color: @color-dark-blue-grey;

                  @media @mobile {
                    padding: 20px 0;
                  }
                }

                .circle-icon {
                  width: 48px;
                  height: 48px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: @color-grey-blue;
                  border-radius: 100%;
                  margin: 0 auto;

                  @media @mobile {
                    width: 38px;
                    height: 38px;
                  }

                  svg {
                    width: 10px;
                    height: 17px;

                    @media @mobile {
                      width: 10px;
                      height: 15px;
                    }
                  }
                }
              }
            }

            &:hover {
              .card-box {
                background-color: @color-grey-blue;
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.16);

                .card-desc {
                  .theme-title {
                    color: @color-white;
                  }

                  .theme-text {
                    color: @color-white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .section-testimonial {
    padding: 87px 0;
    position: relative;
    background: linear-gradient(rgba(110, 176, 245, 0.46),
      rgba(110, 176, 245, 0.46)),
    url("@{path}testimonial-background.jpg") center / cover no-repeat;
    border: 1px solid @color-sandstone;

    .container {
      max-width: 861px;
      padding: 0 30px;
    }

    @media @mobile {
      padding: 50px 0 70px;
    }

    .testimonial-slider-wrapper {
      position: relative;
      background-color: @color-dirty-blue;
      padding: 124px 20px;
      border: 1px solid @color-sandstone;

      @media @mobile {
        padding: 50px 20px;
      }

      .theme-title {
        color: @color-white;
        margin: 0;
        padding-bottom: 34px;
        text-align: center;

        @media @mobile {
          padding-bottom: 20px;
        }
      }

      .testimonial-slider {
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;

        ul.slides {
          li {
            .theme-text {
              color: @color-white;
              letter-spacing: 2px;
              width: 100%;
              max-width: 580px;
              margin: 0 auto;

              span {
                display: block;
                padding-top: 40px;
              }
            }
          }
        }

        .flex-direction-nav {
          list-style: none;

          li {
            width: 48px;
            height: 48px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media @mobile {}

            &.flex-nav-prev {
              left: -24px;

              a {
                display: block;
                width: 48px;
                height: 48px;
                font-size: 0;
                background: url("@{path}left-arrow.svg") no-repeat @color-grey-blue;
                border-radius: 100%;
                background-size: 10px 17px;
                background-position: center;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                  background: url("@{path}left-arrow-hover.svg") no-repeat @color-white;
                  background-size: 10px 17px;
                  background-position: center;
                }
              }
            }

            &.flex-nav-next {
              right: -24px;

              a {
                display: block;
                width: 100%;
                height: 100%;
                background: url("@{path}right-arrow.svg") no-repeat @color-grey-blue;
                font-size: 0;
                border-radius: 100%;
                background-size: 10px 17px;
                background-position: center;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                  background: url("@{path}right-arrow-hover.svg") no-repeat @color-white;
                  background-size: 10px 17px;
                  background-position: center;
                }
              }
            }
          }
        }

        .flex-control-nav {
          position: absolute;
          bottom: 54px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          left: 0;
          right: 0;
          margin: 0 -3px;
          list-style: none;

          @media @mobile {
            bottom: 20px;
          }

          li {
            padding: 0 3px;

            a {
              display: block;
              font-size: 0;
              width: 15px;
              height: 15px;
              border-radius: 100%;
              background-color: @color-grey-blue;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;

              @media @mobile {
                width: 12px;
                height: 12px;
              }

              &.flex-active {
                background-color: @color-white;
              }
            }
          }
        }
      }
    }
  }

  .section-our-service {

    .our-service-listing {
      display: flex;
      flex-wrap: wrap;
      @media @tablet-landscape {
        flex-direction: column;
      }
      .our-service-left {
        width: 33.33%;
        padding: 85px 0 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @color-dirty-blue;

        @media @tablet-landscape {
          width: 100%;
          padding: 40px 0;
        }

        .service-info {
          width: 100%;
          max-width: 326px;
          margin-left: auto;
          padding-right: 56px;

          @media @tablet-portrait {
            padding-left: 15px;
          }

          @media @tablet-landscape {
            max-width: 100%;
            padding: 0 15px;
          }

          .theme-heading {
            color: @color-white;
          }

          .theme-text {
            color: @color-white;
          }
        }
      }

      .our-service-middle {
        width: 33.33%;
        background-color: @color-grey-blue;
        display: flex;
        justify-content: center;
        align-items: center;

        @media @tablet-landscape {
          width: 100%;
          padding: 40px 0;
        }

        .provide-services {
          ul {
            list-style: none;
            margin: 0;

            li {
              padding-bottom: 5px;
              text-align: center;

              a {
                display: inline-block;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: 2.2px;
                color: @color-white;
                text-decoration: none;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                  color: @color-dark-blue-grey;
                }
              }
            }
          }
        }
      }

      .our-service-right {
        width: 33.33%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(95, 151, 146, 0.46);
        }

        @media @tablet-landscape {
          width: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .section-membership-plan {
    padding: 88px 0 58px;

    @media @tablet-landscape {
      padding: 40px 0;
    }

    .theme-heading {
      text-align: center;
    }

    .cta-wrap {
      text-align: center;

      .theme-btn {
        color: @color-dirty-blue;
      }
    }
  }

  .section-our-office {
    position: relative;

    .img-wrap {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .our-office-info {
      position: absolute;
      top: 0;
      right: 0;
      width: 480px;
      height: 100%;
      padding: 40px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: @color-dirty-blue;

      @media @tablet-landscape {
        width: 380px;
      }

      @media @mobile {
        position: relative;
        inset: 0;
        width: 100%;
        display: block;
        padding: 40px 15px;
      }

      .theme-heading {
        color: @color-white;
        width: 100%;
        max-width: 270px;
        margin: 0 auto;
        padding-bottom: 15px;

        @media @mobile {
          max-width: 100%;
        }
      }

      .theme-text {
        color: @color-white;
        width: 100%;
        max-width: 270px;
        margin: 0 auto;

        @media @mobile {
          max-width: 100%;
        }
      }

      .cta-wrap {
        width: 100%;
        max-width: 270px;
        margin: 0 auto;
        padding-top: 50px;

        @media @mobile {
          max-width: 100%;
          padding-top: 20px;
        }
      }
    }
  }
}

#theme-bottom-banner {
  .section-title {
    .theme-heading {
      padding: 0;
      margin: 0;
    }
  }

  .location-section {
    position: relative;
    padding: 42px 0 0;
    background-color: @color-dirty-blue;

    @media @mobile {
      padding: 22px 0 0;
    }

    .theme-title {
      text-align: center;
      margin: 0;
      color: @color-white;
      letter-spacing: 2.2px;
      padding-bottom: 41px;

      @media @mobile {
        padding-bottom: 21px;
      }
    }

    .location-map-wrap {
      height: 340px;

      .map {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}